.Header {
    background-color: var(--headerColor);
    color: var(--textColor);
    
    padding: var(--padding);
    padding-left: calc(2 * var(--padding));

    height: auto;

    display: flex;
    align-items: center;

    border-bottom: 2px solid var(--separatorColorDark);
}

.Logo {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.HeaderIconTray {
    margin-left: auto;

    display: flex;
}

.HeaderIcon {
    width: 1cm;
    height: 1cm;

    margin-left: var(--padding);
    margin-right: var(--padding);
}