a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    color: inherit;
    filter: brightness(90%);
}

a:active {
    color: inherit;
}