.ProjectList {
    display: grid;
    grid-template-columns: auto;
    gap: var(--padding);


}

.ProjectListItem {
    padding: var(--padding);

    border: solid var(--separatorThickness) var(--separatorColor);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;

    background-color: var(--backroundColor);
    filter: brightness(150%);

    min-width: 100px;
    width: 250px;
}

.ProjectDescription {
    color: var(--separatorColor);
}

.ProjectPreview {
    
}